// @font-face {
//   font-family: "Roboto";
//   src: url("../fonts/Roboto.ttf");
// }

@import "variables";
@import "scaffolding";

body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

body > canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
